body {
  background-image: url('/static/Images/road.jpg');
}

#zip_code{
  
}

#submit{

}

    .TotalBody{
    box-sizing: content-box;
    /* background-color:#00628B; */
    }


    .TopBody{
      background-color:#E6E6DC;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: auto;
      margin-bottom: auto;
      box-sizing: content-box;
      border-style: solid;
      border-collapse: separate;
      border-color: #81A594;
      border-top-left-radius: 10%;
      border-top-right-radius: 10%;
    }

    .Title1{
    text-align: center;
    color : black;
    font-size: 64px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: content-box;
    }
    
    
    .WeatherLocation{
    text-align: center;
    color : black;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    
    .ExternalIP{
    text-align: center;
    color: #E6E6DC;
    }
    
    .TopLineDivide{
      border-style: solid;
      border-color: red;
    }

    .CurStats{
      color:#81A594;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
    }

    .Stats{
      color: #81A594;
      font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    
    .WeatherTitles{
    text-align: center;
    color: black;
    border-style: solid;
    border-radius: 50px;
    border: 2px solid black;
    background-color:  #E6E6DC;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    margin-bottom: 1%;

    }

    .CurrentWeatherBody{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
      
    }
    
    
    .CurrentDataBox {
    list-style-type: none;
    border-style: solid;

    /* Rounded Borders */
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #E6E6DC;
    }
    
    
    .CurrentDataItems{
    color:black;
    text-align: left;
    padding-left: 10%;
    }
    
    
    .CurrentDataItemsText{
    color: black;
  

    }
    
    
    .DailyWeatherBox{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
    }


    .DailyDataBox {
    list-style-type: none;
    border-style: solid;
    display: flex;  /* i changed here */
    
    /* Rounded Borders */
    border-radius: 20px;
    border: 1px solid black;

    position: relative;
    margin: auto;
    padding: 0px;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2.5%;
    padding-bottom: 0%;
    background-color:#E6E6DC;
    }
    
    
    .DailyDataItems{
    color: black;
    border-radius: 5px;
    border-right: solid;
    margin-right: 1px;
    }
    
    
    .DailyDataItemsText{
    color: black;
    padding-left: 2px;
    }
    
    
    .ExternalIPError{
    text-align: center;
    color: red;
    }
    
    
    .FooterBox{
    list-style-type: none;
    border-style: solid;
    background: #ADB6B5;
    text-align: center;
    
    /* Rounded Borders */
    border-radius: 5px;
    border: 2px solid black;
    border-left: 1px;
    border-right: 1px;
    margin-bottom:auto;
    padding-top: 2%;
    margin-top: 5px;
    }
    
    
    .DevNames{
    color : black;
    margin-left: 1%;
    }

    .link{
      color:blue;
    }
