<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

  <!-- Links to css and styles-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel ="stylesheet" type = "text/css" href = "static/styles.css">

    <!-- Title on top of tab-->
    <title>Otter Weather</title>
</head>
    <!-- End of style plug ins-->


    <!------------------------------------ Start of TOP side ------------------------------------------------------------------->

<body class = "TotalBody">
{% block content %}
    <!-- First title at the top of page... class = Title1  /for css-->
<div class = "TopBody">
<h1 class="Title1">Otter Weather</h1>



    <!-- Start of search bar-->
<form action="/" method="post" class="text-center justify-content-center">
    <!-- Get weather for text before search bar...-->
  <label for="zip_code">Get Weather For:</label>
    <!-- Open box to input zipcode data-->
  <input type="number" name="zip_code" placeholder="Enter Zip Code" id="zip_code" required>
    <!-- Search button-->
  <button type="submit" id="submit">Search</button>
</form>
    <!-- End of search bar-->

      <!-- Start of weather for-->
  <!-- weather for ... class = WeatherLocation /for css-->
{% if location['success'] %}

<h2 class="WeatherLocation">
  Weather for {{location['city']}}, {{location['state']}}
</h2>
    <!-- End of weather for-->

</div>

    <!--------------------------------------- End of TOP side------------------------------------------------------------------->


    <!---------------------------------------- Start of middle Body --------------------------------------------------------->



    <!-- Start of Current Weather Box -->

    <!-- Start of display your external IP-->
    {% if 'ip_address' in location%}
    <!-- Your external ip is... class ExternalIP /for css-->
    <!--<p class="ExternalIP">
      Your External IP Address: {{location['ip_address']}}
    </p>-->
    <!-- End of display your external IP-->
    {% endif %}

    <!-- Current Weather/ Daily Forcast Titles... class = WeatherTitles   /for css-->

<div class=CurrentWeatherBody>
  <h2 class = "WeatherTitles"><i>Current Weather</i></h2>



  <ul class="CurrentDataBox">

    <li class="CurrentDataItems">
      <div>
        <img src="{{current_forcast['weather'][0]['icon']}}">
      </div>


      <p class ="CurrentDataItemsText">
        <b class = "CurStats">Weather as of:</b> {{current_forcast['dt']}} <br>
        <b class = "CurStats">Description:</b> {{current_forcast['weather'][0]['description']}} <br>
        <b class = "CurStats">Sunrise:</b> {{current_forcast['sunrise']}}<br><b class = "CurStats">Sunset:</b> {{current_forcast['sunset']}} <br>
        <b class = "CurStats">Clouds:</b> {{current_forcast['clouds']}}%, <b class = "CurStats">Dew Point:</b> {{current_forcast['dew_point']['fahrenheit']}}°F <br>
        <b class = "CurStats">Humidity:</b> {{current_forcast['humidity']}}%, <b class = "CurStats">Pressure:</b> {{current_forcast['pressure']}} hPa <br><br>


        <b class = "CurStats">Temperature (Feels Like):</b> {{current_forcast['temp']['fahrenheit']}}°F ({{current_forcast['feels_like']['fahrenheit']}}°F)<br>
        <b class = "CurStats">UVI:</b> {{current_forcast['uvi']}} <b class = "CurStats">Wind Speed:</b> {{current_forcast['wind_speed']}} meters/sec <br>
      </p>
    </li>
  </ul>
</div>

    <!-- End of Current Weather Box -->





    <!-- Start of Daily Weather Box-->
    <!-- Current Weather/ Daily Forcast Titles... class = WeatherTitles   /for css-->
<div class = DailyWeatherBox>
  <h2 class = "WeatherTitles"><i>Daily Forcast</i></h2>

  <ul class="DailyDataBox">
    {% for day in daily_forcast %}

    <li class="DailyDataItems">
      <div>
        <img src="{{day['weather'][0]['icon']}}">
      </div>
      
      <p class= "DailyDataItemsText">
        <b class = "Stats">Weather for:</b> {{day['dt']}} <br>
        <b class = "Stats">Description:</b> {{day['weather'][0]['description']}} <br>
        <b class = "Stats">Humidity:</b> {{day['humidity']}}<br>
        <b class="Stats">Wind Speed:</b> {{day['wind_speed']}} <br><br>

        <b class = "Stats"><i>Temperature: (Feels Like)</i></b> <br>
        <b class = "Stats">Max:</b> {{day['temp']['max']['fahrenheit']}}°F <br>
        <b class = "Stats">Min:</b> {{day['temp']['min']['fahrenheit']}}°F <br>
        <b class = "Stats">Morning:</b> {{day['temp']['morn']['fahrenheit']}}°F ({{day['feels_like']['morn']['fahrenheit']}}°F)<br>
        <b class = "Stats">Day:</b> {{day['temp']['day']['fahrenheit']}}°F ({{day['feels_like']['day']['fahrenheit']}}°F)<br>
        <b class= "Stats">Evening:</b> {{day['temp']['eve']['fahrenheit']}}°F ({{day['feels_like']['eve']['fahrenheit']}}°F) <br>
        <b class = "Stats">Night:</b> {{day['temp']['night']['fahrenheit']}}°F ({{day['feels_like']['night']['fahrenheit']}}°F)<br><br>

      </p>
    </li>
    {% endfor %}
  </ul>
</div>











    <!-- CSS style for "An Error Occured"... class = ExternalIPError /for css -->

    <!--  IF CANNOT CONNECT , Notify that an error has occured -->
{% else %}
<h2 class="ExternalIPError">
  An Error Occured
</h2>

    <!-- CSS style for "ExternalIP is... class = ExternalIP(same as top) /for css" -->
    <!-- Gives your externalIP after Error -->
<p class="ExternalIP">
  Your External IP Address Given: {{location['ip_address']}}
</p>
{% endif %}









<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

{% endblock %}
    <!-- End of functions for OpenWeatherMapAPI-->
</body>
    <!--------------------------------------- End of middle Body ---------------------------------------------------------------------->




    <!-------------------------------------- Start of Footer ----------------------------------------------------------------------->

<footer class="FooterBox">

  <a class ="link" href="{{ url_for('about') }}">About</a> <br>
  <a class = "link" href="https://github.com/WilliamSampson44444/cst205_weather_project" aria-label="View source on GitHub">GitHub</a>
  <p class="DevNames">CST 205 2020© Joseph Villegas, Nayeli De Jesus, William Sampson, Waleed Shaikh, Mark Trantham</p>
</footer>

</html>

    <!-- -----------------------------------End of Footer ----------------------------------------------------------------------->
