<!-- templates/about.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel = "stylesheet" type = "text/css" href = static/styleAbout.css>

    <title>Otter Weather</title>
    <link
      rel="title icon"
      type="image/png"
      href="{{ url_for('static', filename='Images/cloud.ico') }}"
    />

    <style type="text/css">
      #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background: #2196f3;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }

      #myBtn:hover {
        background: #0b7dda;
      }
    </style>
  </head>

  <body class="TotalBody">
    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
    </button>

    <div class="TopBody">
      <h1 class="TitleAboutPage">About us</h1>
    </div>
    <hr />

    <div class="JosephBox">
      <h2 class="BoxTitles">
        Joseph Villegas
      </h2>
      <div>
        <img src="static/Images/JosephImg.jpg" class="Images" />
        <span class="AboutText">
          Full Stack/Backend
        </span>
      </div>
    </div>

    <div class="NayeliBox">
      <h2 class="BoxTitles">
        Nayeli De Jesus
      </h2>
      <div>
        <img src="static/Images/NayeliImg.jpg" class="Images" />
        <span class="AboutText">
          Backend
        </span>
      </div>
    </div>

    <div class="Williambox">
      <h2 class="BoxTitles">
        William Sampson
      </h2>
      <div>
        <img src="static/Images/WilliamImg.jpg" class="Images" />
        <span class="AboutText">
          Full Stack/Project Lead
        </span>
      </div>
    </div>

    <div class="WaleedBox">
      <h2 class="BoxTitles">
        Waleed Shaikh
      </h2>
      <div>
        <img src="static/Images/WaleedImg.png" class="Images" />
        <span class="AboutText">
          Frontend
        </span>
      </div>
    </div>

    <div class="MarkBox">
      <h2 class="BoxTitles">
        Mark Trantham
      </h2>
      <div>
        <img src="static/Images/MarkImg.jpg" class="Images" />
        <span class="AboutText">
          Frontend
        </span>
      </div>
    </div>

    <script type="text/javascript">
      //Get the button
      var mybutton = document.getElementById("myBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
  </body>

  <footer class="FooterBox">
    <a class="link" href="/"
      >Home <i class="fa fa-home" aria-hidden="true"></i
    ></a>
    <br />
    <a
      class="link"
      href="https://github.com/WilliamSampson44444/cst205_weather_project"
      target="_blank"
      aria-label="View source on GitHub"
      >GitHub <i class="fa fa-github" aria-hidden="true"></i
    ></a>
    <p class="DevNames">
      CST 205 2020© Joseph Villegas, Nayeli De Jesus, William Sampson, Waleed
      Shaikh, Mark Trantham
    </p>
    <img
      src="{{ url_for('static',filename='Images/CSUMB-Logo.png') }}"
      width="100px"
      height="100px"
    />
  </footer>
</html>
